<form *ngIf="showAddTask" class="add-form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="text">Task</label>
    <input
      type="text"
      name="text"
      [(ngModel)]="text"
      id="text"
      placeholder="Add Task"
    />
  </div>

  <div class="form-control">
    <label for="day">Day & Time</label>
    <input
      type="text"
      name="day"
      [(ngModel)]="day"
      id="day"
      placeholder="Add Day & Time"
    />
  </div>

  <div class="form-control form-control-check">
    <label for="reminder">Set Reminder</label>
    <input
      type="checkbox"
      name="reminder"
      [(ngModel)]="reminder"
      id="reminder"
    />
  </div>

  <input type="submit" value="Save Task" class="btn btn-block" />
</form>

<!-- [] directive if for input -> ex: input prop, class -->
<!-- 
  [] is used to bind an element's prop to a component prop
  Ex: <img [src]="day" >
  in this case, we are binding the prop src of the img tag to the component's prop day
  [prop] -> this is the target prop
  ='value' -> prop to be used as value
-->

<!-- () directive is for output -> ex: event -->
<!-- 
  () Event binding uses a set of parentheses, around the event
  Ex: <button (click)="onSave()">Save</button>
 -->

<!-- [()] directive is for two way data binding, in this case, bind the input tag with the prop -->
